@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to JustRent</h1>
    <div id="butong_net_right" style="overflow:hidden;width:1200px;height:410px;">
        <table cellpadding="0" cellspacing="0" border="0">
            <tr>
                <td id="butong_net_right1" valign="top" align="center">
                    <table cellpadding="2" cellspacing="0" border="0">
                        <tr align="center">
                            <td><img src="~/images/pic.jpg" /></td>
                            <td><img src="~/images/pic2.jpg" /></td>
                            <td><img src="~/images/pic3.jpg"></td>
                            <td><img src="~/images/pic4.jpg"></td>
                        </tr>
                    </table>
                </td>
                <td id="butong_net_right2" valign="top"></td>
            </tr>
        </table>
    </div>
    <script>
        var speed = 35//value up then speed slow
        butong_net_right2.innerHTML = butong_net_right1.innerHTML
        function Marquee4() {
            if (butong_net_right.scrollLeft <= 0)
                butong_net_right.scrollLeft += butong_net_right2.offsetWidth
            else {
                butong_net_right.scrollLeft--
            }
        }
        var MyMar4 = setInterval(Marquee4, speed)
        butong_net_right.οnmοuseοver = function () { clearInterval(MyMar4) }
        butong_net_right.οnmοuseοut = function () { MyMar4 = setInterval(Marquee4, speed) }
    </script>
</div>
