@{
    ViewData["Title"] = "Join";
}
<h2>CREATE YOUR JUSTRENTITPAPI ACCOUNT</h2>
<br/>
<img src="~/images/joinimageup.jpg" height="140"width="1100"/>
<br />
    <div style="        background: url('../images/joinimagedown.jpg') no-repeat;
        height: 380px;
        width: 1100px;
        margin: 0 auto;">
        <br/>
        <br/>
        <form name="user" action="#" method="get" style="float:inherit">
            <table align="center">
                <tr>
                    <td>UserName</td>
                    <td>
                        <input type="text" name="username" />
                    </td>
                </tr>

                <tr>
                    <td>Password</td>
                    <td>
                        <input type="password" />
                    </td>
                </tr>

                <tr>
                    <td>Email</td>
                    <td>
                        <input type="email" name="emall" />
                    </td>
                </tr>

                <tr>
                    <td>Phone Number</td>
                    <td>
                        <input type="number" name="phone" />
                    </td>
                </tr>

                <tr>
                    <td></td>
                    <td>

                        <input type="submit" name="register" value="Register" />
                        <input type="reset" name="cancel" value="Cancel" />
                    </td>
                </tr>

            </table>
        </form>
    </div>
