@{
    ViewData["Title"] = "Join";
}

<form name="user" action="#" method="get">
    <table align="center">
        <tr>
            <td>UserName</td>
            <td>
                <input type="text" name="username" />
            </td>
        </tr>
        <tr>
            <td>Password</td>
            <td>
                <input type="password" />
            </td>
        </tr>
                   
        <tr>
            <td>Email</td>
            <td>
                <input type="text" name="emall" />
            </td>
        </tr>
        <tr>
            <td>Phone Number</td>
            <td>
                <input type="text" name="phone" />
            </td>
        </tr>
       
            <tr>
            <td></td>
            <td>
                
                <input type="submit" name="register" value="Register" />
                <input type="reset" name="cancel" value="Cancel" />
            </td>
        </tr>
        
    </table>
</form>