@{
    ViewData["Title"] = "Rent";
}
<section class="band vehicle-band cf">
    <ul class="vehicle-class-list">
        <li class="cf">
            <div class="vehicle-class-details">
                <div class="header">
                    <div class="count">
                        <a href="/en/car-rental/vehicles/ca/cars.html">
                            12  vehicle classes
                        </a>
                    </div>
                    <h2>All Cars in Canada</h2>
                </div>
                <div class="description">
                    <p>Choose from a variety of rental cars in this category including economy, full-size or luxury sedans. Whether you are looking for fuel-efficiency, space, or comfort and style you are sure to find the perfect rental car no matter where you are headed.</p>

                </div>
                <div class="vehicle-specs">
                    <ul class="spec-list">
                        <li class="spec-heading">Passengers</li>
                        <li class="spec-value"><i class="icon icon-specs-seats"></i>4 - 5</li>
                    </ul>
                    <ul class="spec-list">
                        <li class="spec-heading">Bags</li>
                        <li class="spec-value"><i class="icon icon-specs-bags"></i>2 - 4</li>
                    </ul>
                </div>
                <a class="btn right" href="/en/car-rental/vehicles/ca/cars.html">
                    View All Rental Cars
                </a>
            </div>
            <div class="vehicle-class-image">
                <img src="~/images/vehicle/cars.png" alt="Cars - Canada" />
            </div>
        </li>

        <li class="cf">
            <div class="vehicle-class-details">
                <div class="header">
                    <div class="count">
                        <a href="/en/car-rental/vehicles/ca/suvs.html">
                            8  vehicle classes
                        </a>
                    </div>
                    <h2>All SUVs in Canada</h2>
                </div>
                <div class="description">
                    Our SUVs offer plenty of flexibility with seating capacity, power, and luggage room. Whether you are going on a weekend family trip or exploring the countryside we are sure to have the ideal SUV for your needs.
                </div>
                <div class="vehicle-specs">
                    <ul class="spec-list">
                        <li class="spec-heading">Passengers</li>
                        <li class="spec-value"><i class="icon icon-specs-seats"></i>4 - 7</li>
                    </ul>
                    <ul class="spec-list">
                        <li class="spec-heading">Bags</li>
                        <li class="spec-value"><i class="icon icon-specs-bags"></i>2 - 5</li>
                    </ul>
                </div>
                <a class="btn right" href="/en/car-rental/vehicles/ca/suvs.html">
                    View All Rental SUVs
                </a>
            </div>
            <div class="vehicle-class-image">
                <img src="~/images/vehicle/suvs.png" alt="SUVs - Canada" />
            </div>
        </li>

        <li class="cf">
            <div class="vehicle-class-details">
                <div class="header">
                    <div class="count">
                        <a href="/en/car-rental/vehicles/ca/trucks.html">
                            2  vehicle classes
                        </a>
                    </div>
                    <h2>All Trucks in Canada</h2>
                </div>
                <div class="description">
                    <p>Looking to haul large items for DIY projects or going on a weekend retreat? A pickup truck has the space, power, and durability ideal for your project or trip.</p>

                </div>
                <div class="vehicle-specs">
                    <ul class="spec-list">
                        <li class="spec-heading">Passengers</li>
                        <li class="spec-value"><i class="icon icon-specs-seats"></i>4 - 5</li>
                    </ul>
                    <ul class="spec-list">
                        <li class="spec-heading">Bags</li>
                        <li class="spec-value"><i class="icon icon-specs-bags"></i>2</li>
                    </ul>
                </div>
                <a class="btn right" href="/en/car-rental/vehicles/ca/trucks.html">
                    View All Rental Trucks
                </a>
            </div>
            <div class="vehicle-class-image">
                <img src="~/images/vehicle/trucks.png" alt="Trucks - Canada" />
            </div>
        </li>

        <li class="cf">
            <div class="vehicle-class-details">
                <div class="header">
                    <div class="count">
                        <a href="/en/car-rental/vehicles/ca/vans.html">
                            2  vehicle classes
                        </a>
                    </div>
                    <h2>All Vans in Canada</h2>
                </div>
                <div class="description">
                    <p>Need extra room for people, luggage, or cargo or both? Our minivans and passenger vans can seat up to 7 passengers respectively and are great for family vacations or accommodating large groups. Cargo vans are ideal for transporting bulky items that may not fit in your personal vehicle.</p>

                </div>
                <div class="vehicle-specs">
                    <ul class="spec-list">
                        <li class="spec-heading">Passengers</li>
                        <li class="spec-value"><i class="icon icon-specs-seats"></i>2 - 7</li>
                    </ul>
                    <ul class="spec-list">
                        <li class="spec-heading">Bags</li>
                        <li class="spec-value"><i class="icon icon-specs-bags"></i>1 - 10</li>
                    </ul>
                </div>
                <a class="btn right" href="/en/car-rental/vehicles/ca/vans.html">
                    View All Rental Vans
                </a>
            </div>
            <div class="vehicle-class-image">
                <img src="~/images/vehicle/vans.png" alt="Vans - Canada" />
            </div>
        </li>
    </ul>
</section>
<section class="cf colors lightest-gray">
    <div id="reservationWidget"> </div>
</section>